<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <title>play Rails</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="header">
  <%= link_to root_path do %>
    <h2>じゃんけん侍</h2>
  <% end %>

  <%= link_to root_path do %>
    <%= image_tag 'samurai.gif' %>
  <% end %>
</div>

<%= yield %>
<%= turbo_include_tags %>
<%= stimulus_include_tags %>

</body>
</html>
